ProcessA/ProcessA/ProcessA.sln
ProcessA/ProcessA/ProcessA.vcxproj
ProcessA/ProcessA/ProcessA.vcxproj.filters
ProcessA/ProcessA/ProcessA.vcxproj.user
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/af73c4a2-2abf-499a-80ac-9e4cf78de50a.vsidx
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/dd623d8e-a74a-46ea-ae67-6fe4502fcfc1.vsidx
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/read.lock
ProcessA/ProcessA/.vs/ProcessA/v17/.suo
ProcessA/ProcessA/.vs/ProcessA/v17/Browse.VC.db
ProcessA/ProcessA/.vs/ProcessA/v17/Browse.VC.db-shm
ProcessA/ProcessA/.vs/ProcessA/v17/Browse.VC.db-wal
ProcessA/ProcessA/.vs/ProcessA/v17/Browse.VC.opendb
ProcessA/ProcessA/.vs/ProcessA/v17/ipch/AutoPCH/e5c474d15932ebfb/PROCESSA.ipch
ProcessA/ProcessA/x64/Debug/ProcessA.exe
ProcessA/ProcessA/x64/Debug/ProcessA.exe.recipe
ProcessA/ProcessA/x64/Debug/ProcessA.ilk
ProcessA/ProcessA/x64/Debug/ProcessA.log
ProcessA/ProcessA/x64/Debug/ProcessA.pdb
ProcessA/ProcessA/x64/Debug/ProcessA.vcxproj.FileListAbsolute.txt
ProcessA/ProcessA/x64/Debug/vc143.idb
ProcessA/ProcessA/x64/Debug/vc143.pdb
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/CL.command.1.tlog
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/link.command.1.tlog
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/link.read.1.tlog
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/link.write.1.tlog
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/ProcessA.lastbuildstate
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/unsuccessfulbuild
ProcessA/ProcessB/ProcessB.sln
ProcessA/ProcessB/ProcessB.vcxproj
ProcessA/ProcessB/ProcessB.vcxproj.filters
ProcessA/ProcessB/ProcessB.vcxproj.user
ProcessA/ProcessB/.vs/ProcessB/FileContentIndex/a92cdcab-b7ed-427d-ab57-65e0e009c895.vsidx
ProcessA/ProcessB/.vs/ProcessB/FileContentIndex/e2291552-f298-4e53-83a8-0b585cb5db44.vsidx
ProcessA/ProcessB/.vs/ProcessB/FileContentIndex/read.lock
ProcessA/ProcessB/.vs/ProcessB/v17/.suo
ProcessA/ProcessB/.vs/ProcessB/v17/Browse.VC.db
ProcessA/ProcessB/.vs/ProcessB/v17/Browse.VC.db-shm
ProcessA/ProcessB/.vs/ProcessB/v17/Browse.VC.db-wal
ProcessA/ProcessB/.vs/ProcessB/v17/Browse.VC.opendb
ProcessA/ProcessB/.vs/ProcessB/v17/ipch/AutoPCH/106d4cf47277ecff/PROCESSB.ipch
ProcessA/ProcessB/x64/Debug/ProcessB.exe
ProcessA/ProcessB/x64/Debug/ProcessB.exe.recipe
ProcessA/ProcessB/x64/Debug/ProcessB.ilk
ProcessA/ProcessB/x64/Debug/ProcessB.log
ProcessA/ProcessB/x64/Debug/ProcessB.obj
ProcessA/ProcessB/x64/Debug/ProcessB.pdb
ProcessA/ProcessB/x64/Debug/ProcessB.vcxproj.FileListAbsolute.txt
ProcessA/ProcessB/x64/Debug/vc143.idb
ProcessA/ProcessB/x64/Debug/vc143.pdb
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/CL.command.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/CL.read.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/CL.write.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/link.command.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/link.read.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/link.write.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/ProcessB.lastbuildstate
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/f781db4c-fa24-4e2a-baf4-50eebac91bc0.vsidx
