ProcessA/ProcessA/ProcessA.sln
ProcessA/ProcessA/ProcessA.vcxproj
ProcessA/ProcessA/ProcessA.vcxproj.filters
ProcessA/ProcessA/ProcessA.vcxproj.user
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/af73c4a2-2abf-499a-80ac-9e4cf78de50a.vsidx
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/dd623d8e-a74a-46ea-ae67-6fe4502fcfc1.vsidx
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/read.lock
ProcessA/ProcessA/.vs/ProcessA/v17/.suo
ProcessA/ProcessA/.vs/ProcessA/v17/Browse.VC.db
ProcessA/ProcessA/.vs/ProcessA/v17/Browse.VC.db-shm
ProcessA/ProcessA/.vs/ProcessA/v17/Browse.VC.db-wal
ProcessA/ProcessA/.vs/ProcessA/v17/Browse.VC.opendb
ProcessA/ProcessA/.vs/ProcessA/v17/ipch/AutoPCH/e5c474d15932ebfb/PROCESSA.ipch
ProcessA/ProcessA/x64/Debug/ProcessA.exe
ProcessA/ProcessA/x64/Debug/ProcessA.exe.recipe
ProcessA/ProcessA/x64/Debug/ProcessA.ilk
ProcessA/ProcessA/x64/Debug/ProcessA.log
ProcessA/ProcessA/x64/Debug/ProcessA.pdb
ProcessA/ProcessA/x64/Debug/ProcessA.vcxproj.FileListAbsolute.txt
ProcessA/ProcessA/x64/Debug/vc143.idb
ProcessA/ProcessA/x64/Debug/vc143.pdb
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/CL.command.1.tlog
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/link.command.1.tlog
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/link.read.1.tlog
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/link.write.1.tlog
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/ProcessA.lastbuildstate
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/unsuccessfulbuild
ProcessA/ProcessB/ProcessB.sln
ProcessA/ProcessB/ProcessB.vcxproj
ProcessA/ProcessB/ProcessB.vcxproj.filters
ProcessA/ProcessB/ProcessB.vcxproj.user
ProcessA/ProcessB/.vs/ProcessB/FileContentIndex/a92cdcab-b7ed-427d-ab57-65e0e009c895.vsidx
ProcessA/ProcessB/.vs/ProcessB/FileContentIndex/e2291552-f298-4e53-83a8-0b585cb5db44.vsidx
ProcessA/ProcessB/.vs/ProcessB/FileContentIndex/read.lock
ProcessA/ProcessB/.vs/ProcessB/v17/.suo
ProcessA/ProcessB/.vs/ProcessB/v17/Browse.VC.db
ProcessA/ProcessB/.vs/ProcessB/v17/Browse.VC.db-shm
ProcessA/ProcessB/.vs/ProcessB/v17/Browse.VC.db-wal
ProcessA/ProcessB/.vs/ProcessB/v17/Browse.VC.opendb
ProcessA/ProcessB/.vs/ProcessB/v17/ipch/AutoPCH/106d4cf47277ecff/PROCESSB.ipch
ProcessA/ProcessB/x64/Debug/ProcessB.exe
ProcessA/ProcessB/x64/Debug/ProcessB.exe.recipe
ProcessA/ProcessB/x64/Debug/ProcessB.ilk
ProcessA/ProcessB/x64/Debug/ProcessB.log
ProcessA/ProcessB/x64/Debug/ProcessB.obj
ProcessA/ProcessB/x64/Debug/ProcessB.pdb
ProcessA/ProcessB/x64/Debug/ProcessB.vcxproj.FileListAbsolute.txt
ProcessA/ProcessB/x64/Debug/vc143.idb
ProcessA/ProcessB/x64/Debug/vc143.pdb
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/CL.command.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/CL.read.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/CL.write.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/link.command.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/link.read.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/link.write.1.tlog
ProcessA/ProcessB/x64/Debug/ProcessB.tlog/ProcessB.lastbuildstate
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/f781db4c-fa24-4e2a-baf4-50eebac91bc0.vsidx
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/04ba02a5-66ee-41df-9ce1-80c80da02e0c.vsidx
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/da9e82d1-344a-42e6-b3b8-bb49e1108eb6.vsidx
ProcessA/ProcessB/.vs/ProcessB/FileContentIndex/7287c786-d97b-42cd-b652-25bdab7e8878.vsidx
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/100ab178-9e7a-4796-a09b-25e2a6740385.vsidx
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/60219158-6018-4e0e-a578-8f4252230976.vsidx
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/69cbc3c8-714f-4401-9abe-661c91d71690.vsidx
ProcessA/ProcessA/.vs/ProcessA/v17/ipch/AutoPCH/c1f9d6fa74abe27d/VCTMP16900_830909.PROCESSA.00000000.ipch
ProcessA/ProcessA/x64/Debug/ProcessA.obj
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/CL.read.1.tlog
ProcessA/ProcessA/x64/Debug/ProcessA.tlog/CL.write.1.tlog
ProcessA/ProcessB/.vs/ProcessB/FileContentIndex/55f94b0d-c8d1-456e-9b2e-f208d2b7a33a.vsidx
ProcessA/ProcessB/.vs/ProcessB/FileContentIndex/b72f3d37-3c09-4fc8-9cbe-98f04b565a83.vsidx
ProcessA/ProcessA/.vs/ProcessA/FileContentIndex/d13ddfcf-0cb3-4af4-896e-ae14a530d93c.vsidx
*.vsidx
